@import url("https://fonts.googleapis.com/css?family=Cairo");

.intro-title {
  font-family: "Cairo";
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
  line-height: 2;
}

.intro-title .title-inner {
  background-image: url(https://media2.giphy.com/media/gG6xmgCgm4BadaD45x/giphy.gif?cid=ecf05e472o2ihzdg5829emp6wwjwretvy0xfakije0f3uovx&ep=v1_gifs_search&rid=giphy.gif&ct=g);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 50px;
  margin: 10px 0;
}
/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #fff;
  transition: 0.35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
}

.white-mode:hover {
  background-color: #fff;
  color: #122;
}
